server/vendor/
server/node_modules/
server/npm-debug.log
server/yarn-error.log

# Laravel 4 specific
server/bootstrap/compiled.php
server/app/storage/

# Laravel 5 & Lumen specific
server/public/storage
server/public/hot

# Laravel 5 & Lumen specific with changed public path
server/public_html/storage
server/public_html/hot

server/storage/*.key
server/.env
server/Homestead.yaml
server/Homestead.json
server/.vagrant
server/.phpunit.result.cache

# Android Studio
*.iml
.gradle
/uas-mobile/local.properties
/uas-mobile/.idea/caches
/uas-mobile/.idea/libraries
/uas-mobile/.idea/modules.xml
/uas-mobile/.idea/workspace.xml
/uas-mobile/.idea/navEditor.xml
/uas-mobile/.idea/assetWizardSettings.xml
.DS_Store
/uas-mobile/build
/uas-mobile/captures
.externalNativeBuild
.cxx
local.properties
