<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.ac.umn.uas">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UAS"
        tools:targetApi="31">
        <activity android:name=".activities.provider.DetailProviderJobActivity"
            android:exported="false"/>
        <activity android:name=".activities.seeker.appliedjobs.DetailAppliedSeekerActivity"
            android:exported="false">
        </activity>
        <activity android:name=".activities.seeker.appliedjobs.SeekerAppliedJobActivity"
            android:exported="false">
        </activity>
        <activity android:name=".activities.seeker.DetailSeekerActivity"
            android:exported="false">
        </activity>
        <activity android:name=".activities.seeker.SeekerActivity"
            android:exported="false">
        </activity>
        <activity android:name=".activities.provider.AddJobActivity"
            android:exported="false">
        </activity>
        <activity android:name=".activities.provider.TrackDetailSeekerActivity"
            android:exported="false">
        </activity>
        <activity android:name=".activities.provider.TrackSeekerActivity"
            android:exported="false">
        </activity>
        <activity android:name=".activities.provider.ProviderActivity"
            android:exported="false">
        </activity>
        <activity android:name=".activities.User.ChoiceActivity"
            android:exported="false">
        </activity>
        <activity android:name=".activities.User.LoginActivity"
            android:fitsSystemWindows="false"
            android:exported="false">
        </activity>
        <activity android:name=".activities.User.SignupActivity"
            android:exported="false">
        </activity>
        <activity android:name=".activities.User.ProfileActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".activities.User.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>